body{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #272727;
}
.container{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
   margin: 5%;
   min-height: 800px;
    display: flex;
    flex-direction: row;
    padding: 0;
}
.projects{
    max-width: 20%;
flex-grow: 1;
border-right: 1px solid rgb(220, 228, 250);
display: flex;
flex-direction: column;
align-items: center;
}





button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: #F082AC;
}
.input{
    font-size: 14px;
    font-weight: 500;
    height: 25px;
    line-height: 20px;
    margin: 4%;
}
.project-card{
    margin: 0;
    width: 100%;
    max-width: 100%;
}
.project-card:hover{
    background: #fd746c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    
}
.tasks{
    flex-grow: 4;
    min-width: 80%;
}
.todo-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; 
    gap: 10px;
    width: 100%;
    background: #fd746c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
.completed-button{
 justify-self: right;
 margin-right: 40%;
}